.sec{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 85%;
  margin: 0 auto;
  border: 2px solid red;
  padding: 20px;

}
.container {
    display: flex;
    justify-content: space-between;
    width: 95%;
    border: 2px solid red;
    flex-wrap: wrap;     
    height: 400px;
    overflow: hidden;
  }
  .shimmer {
    width: 100%; 
    height: 100%;
    background: linear-gradient(
      to right,
      #e0e0e0 0%,
      #f5f5f5 50%,
      #e0e0e0 100%
    ); 
    position: absolute;
    top: 0;
    left: -100%; 
    animation: shimmer 1.5s infinite; 
  }
  
  @keyframes shimmer {
    0% {
      left: -100%;
    }
    100% {
      left: 100%;
    }
  }
  .threeDivsContainer{
    display: flex;
    gap: 4px;   
    width: 60%;
    flex-direction: column;
    margin-bottom: 0;
  }
  .threeDivsContainer p{
    margin: 0;
    font-weight: 700;
    color: black;
    font-size: 215x;
  }
  .threeDivsContainer div{
    display: flex;
    gap: 10px;
  }
  .threeDivsContainer img{
    border-radius: 10px;
    width: 66px;
    height: 60px;
    margin-top: 0;
    border: 1px solid black;
  }
  .threeDivsContainer div  > img:hover{
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .divOne:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .divOne {
    flex: 0 0 49%;  
    padding: 10px;
    text-align: center;
    max-height: 80%;
    border-radius: 8px;
    border-left: 1px solid black;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .divTwo {
    flex: 0 0 49%;  
    text-align: center;
    height: 350px; 
    overflow: hidden; 
    align-items: center;
    justify-content: center;
    display:flex;
  }
  
  @media (max-width: 1400px) {
    .sec{
      width: 97%;
    }
  }
  @media (max-width: 500px) {
    .container{
        flex-direction: column; 
        align-items: center; 
        height: 900px;
        gap: 2px;
        width: 100%;
        justify-content: center;
        padding: 3px;
    }
    .divOne{
        width: 95%;
    }
    .divTwo {
        width: 95%;
    }
  }