.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    box-sizing: border-box;
    padding: 20px;
    margin: 20px auto 0 auto;
  }
  .product{
    height: 200px;
    padding: 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

 }
 
 .product:hover {
    transform: scale(1.05);
    box-shadow: 2px 4px 8px 4px rgba(18, 17, 17, 0.2);
    border-radius: 20px;
  }
 
  .roundDiv{
    width: 150px;       
    height: 200px;     
    padding: 0;        
    text-align: center;
    border-radius: 50%; 
    font-size: 16px;
    background-size: cover;
    border: 1px solid rgb(226, 220, 220);
    background-position: cover;
    position: relative;
    box-sizing: border-box; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
 .product p{
    color: black;
    font-size: 1rem;
    margin: 0;
    padding: 8px;
    border-radius: 30px;
    font-weight: 500;
  }



  