.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    width: 85%;
    border: 2px solid red;
    position: relative;
  }
  
  .container h2 {
    color: black;
  }
  
  .roundedShapeWrapper {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    height: 260px;
    width: 100%;
    overflow-x: auto; 
    scroll-behavior: smooth; 
    padding-bottom: 10px; 
    scrollbar-width: none; 
    padding-left: 500px;
    -ms-overflow-style: none; 
  }
  /* .roundedShapeWrapper :first-child{
    padding-left: 60px;
  } */
  .roundedShapeWrapper::-webkit-scrollbar {
    height: 8px; 
  }
  
  .roundedShapeWrapper::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
  }
  
  .roundedShapeWrapper::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .roundedShapeWrapper > div {
    transition: transform 0.3s ease;
    max-width: 200px; 
    flex: 0 0 auto; 
    border-radius: 50%;
    height: 200px;
    width: 200px;
    box-sizing: border-box; 
  }
  
  .roundedShapeWrapper {
    margin-left: 10px; 
  }
  @media (max-width: 1400px) {
    .container{
      width: 96%;
    }
  }
  /* @media (min-width: 1400px) {
    .roundedShapeWrapper :first-child{
      padding-left: 60px;
    }
  } */
  @media (max-width: 768px) {

    .container h2{
      font-size: 16px;
    }
   
 }
  @media (max-width: 1400px) {

    .container{
       width:97% ;
    }
   
 }