.yellowBackground{
    background-color: #fffbd8 !important;
    color: black;
    text-align: center;
    padding: 20px;
    padding-bottom: 80px;
    padding-top: 80px;
}
.mainQstn{
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 2px; 
    line-height: 1.8; 
    margin: 0;
    color: #333; 
    font-family: cursive;
}
.boxDiv{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
}

.box{
    width: 78%;
    margin: 0 auto;
}
.qstn{
    letter-spacing: 1px;
}
.boxTitle{
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: cursive;
}
.yellowBackgroundButton{
    width: auto;
    padding: 20px;
    border: 2px solid black;
    color: black;
    background-color: #fffbd8;
    letter-spacing: 1px;
    font-family: cursive;
    font-weight: 900;
    border-radius: 400px;
}
.yellowBackgroundButton:hover{
    box-shadow: 0 8px 15px rgba(3, 3, 3, 0.3);
    transform: translateY(-3px);
}
.yellowBackgroundButton:active{
    transform: translateY(0);
    box-shadow: 0 5px 10px rgba(0, 123, 255, 0.2);
}
.boxText{
    height: auto;
    padding: 0 20px 20px 20px;
    letter-spacing: 1px ;
}
.link{
    color: gray;
    font-size: 13px;
    margin: 0;
    padding: 0;
}
.firstDiv{
    background-color: #d7e6f2;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.firstDiv p{
    font-size: 15px;
    font-weight: 700;
    font-size: 16px;
}
.subscribe{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;
}
.firstDiv input{
    width: 300px;
    height: 70px;
    padding: 7px;
    background-color: white;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 17px;
}
.firstDiv button{
    width: 100px;
    height: 63px;
    border: none;
    background-color: white;
    border-radius: 5px;
    color: black;
    font-weight: 700;
    margin-top: 10px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 17px;
    cursor: pointer;
}

.firstDiv button:hover{
    background-color: black;
    color: white;
}
.secondDiv{
    background-color: #4f96f3;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.secondDiv p{
    font-size: 15px;
    font-weight: 700;
    font-size: 16px;
    border-bottom: dashed;
    color: white;
}
.thirdDiv{
    display: flex;
    height: 500px;
    width: 100%;
}
.sectionOne{
    background-color: rgba(23, 23, 102, 0.87);
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.btnOne{
    width: 100px;
    height: 80px;
    border: none;
    background-color: orangered;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
}
.btnOne::first-letter {
    font-size: 1.3em; 
    color: white;     
    font-weight: bold;
  }
.btnTwo{
    width: 300px;
    height: 80px;
    border: none;
    background-color: rgba(23, 23, 102, 0.87);
    border-radius: 40px;
    color: white;
    font-weight: 700;
    margin-top: 10px;
    font-size: 17px;
    cursor: pointer;
}
.sectionTwo{
    background-color: royalblue;
    display: flex;
    width: 60%;
}
.sectionTwo div{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.sectionTwo p{
    font-size: 15px;
    font-weight: 700;
    font-size: 16px;
    color: white;
    margin-left: 20px;
}
.sectionTwo ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    padding: 20px;
}
.sectionTwo ul li{
    list-style: none;
    font-size: 15px;
    font-weight: 500;
    font-size: 16px;
    color: white;
    
}
.sectionTwo ul li:hover{
    color: black;
    padding: 5px;
    text-decoration: underline;
}

.thirdDiv{
    display: flex;
    height: auto;
    width: 100%;
}
.fourthDiv {
    background-color: rgb(48, 47, 47);
    padding: 20px; /* Add padding for better visual appearance */
    text-align: center; /* Center-align the content */
    clear: both; /* Prevent overlap if floats are used above */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 70px;
    padding-left: 70px;
}

.fourthDiv ul {
    display: flex;
    justify-content: center;
    gap: 15px; /* Add spacing between list items */
    padding: 0;
    list-style: none;
}

.fourthDiv ul li {
    font-size: 16px;
    color: white;
}

.fourthDiv p {
    font-size: 14px;
    color: white;
    margin: 10px 0;
}
/* .fourthDiv span{
    display: flex;
    align-items: center;
    gap: 20px;
    border: 2px solid rgb(177, 132, 132);

} */

.spanTwo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.fourthDiv span ul {
    display: flex;
    justify-content: center;
    gap: 10px; /* Add spacing between list items */
    padding: 0;
    list-style: none;
}

.fourthDiv span ul li {
    font-size: 14px;
    color: white;
    cursor: pointer;
}

.fourthDiv span ul li:hover {
    text-decoration: underline;
    color: #000;
}

.spanTwo ul {
    display: flex;
    
    }

@media (max-width:600px){
    .sectionTwo div ul{
        display: none;
    }
    .sectionTwo{
        flex-direction: column;
    }
   
    .spanTwo{
        width: 300px;
        flex-direction: column;
        text-align: center;
    }
    .spanTwo ul {
        flex-direction: column;
    }
}



@media (max-width:997px){
    .firstDiv p{
        font-size: 15px;
        text-align: center;
    }
    .subscribe{
        width: 80%;
    }
    .firstDiv{
        padding: 10px;
    }
    .firstDiv input{
        width: 60%;
        height: 60px;
        padding: 7px;
        background-color: white;
        border-radius: 5px;
        border: none;
        margin-top: 10px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        font-size: 17px;
    }
    .firstDiv button{
        width: 30%;
        height: 60px;
        border: none;
        background-color: white;
        border-radius: 5px;
        color: black;
        font-weight: 700;
        margin-top: 10px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        font-size: 17px;
        cursor: pointer;
    }
    .secondDiv {
       flex-direction: column;
       padding-top: 10px;
    }
    .thirdDiv{
        flex-direction: column;
        width: 100vw;
        /* background-color: rosybrown; */
        padding-bottom: 0;
    }
    .sectionOne{
        width: 100%;
        order: 1;
        flex-direction: row;
        padding: 30px;
    }
    .btnOne{
        width: 60px;
        height: 50px;
        border: none;
        background-color: orangered;
        border-radius: 5px;
        color: white;
        font-weight: 700;
        margin-top: 10px;
        font-size: 20px;
        cursor: pointer;
    }
    .btnTwo{
        width: 200px;
        height: 50px;
        border: none;
        background-color: royalblue;
        color: white;
        font-weight: 700;
        margin-top: 10px;
        font-size: 13px;
        cursor: pointer;
    }
    .sectionTwo{
        width: 100%;
    }
    .sectionTwo div{
        width: 100%;
    }
    .fourthDiv{
        flex-direction: column;

    }
    .fourthDiv ul{
        width: 500px;

    }
    
}
@media (max-width:900px) {
    .box:first-child{
        margin-top: 20px;
    }
    .box{
        width: 95%;
    }
    .boxDiv{
        flex-direction: column;
    }
    boxDiv{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
        width: 100%;
        margin: 0 auto;
    }
}

@media (max-width:500px){
    .yellowBackground{
        padding-top: 10px;
        padding-left: 2px;
        padding-right: 2px;
    }
    .btnOne{
        width: 60px;
        height: 50px;
        border: none;
        background-color: orangered;
        border-radius: 5px;
        color: white;
        font-weight: 700;
        margin-top: 10px;
        font-size: 15px;
        cursor: pointer;
    }
    .boxDiv{
        width: 100%;
        gap: 5px;
    }
    .box{
        width: 100%;
        gap: 5px;
        padding: 0;
    }
    .firstDiv input{
        width: 300px;
        height: 70px;
        padding: 72x;
        background-color: white;
        border-radius: 5px;
        border: none;
        margin-top: 10px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        font-size: 14px;
    }
    .firstDiv button{
        width: 100px;
        height: 63px;
        border: none;
        background-color: white;
        border-radius: 5px;
        color: black;
        font-weight: 700;
        margin-top: 10px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        font-size: 14px;
        cursor: pointer;
    }
}