.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: 88%;
  margin: 0 auto;
}
.upperDiv {
  display: flex;
  gap: 20px;
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  justify-content: space-between;
}

.infoSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
 justify-content: center;
}

.title {
  color: gray;
  font-size: 17px;

}

.subtitle {
  color: black;
  font-size: 30px;
  margin: 0;
}

.description {
  color: #333;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}

.shopButton {
  background-color: rgb(174, 174, 174);
  color: black;
  border: none;
  padding: 10px 15px;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 250px;
  height: 70px;
}

.shopButton:hover {
  background-color: darkgray;
}

.productSection {
  display: flex;
  gap: 15px;
  width: 50%;
}

.productCard {
  width: 50%;
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  height: 280px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.productCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.priceTag {
  position: absolute;
  bottom: -20px;
  left: 10px; 
  transform: translateY(10px);
  background-color: white; 
  color: black;
  padding: 5px 10px; 
  border-radius: 16px;
  border-radius: 16px;
  font-size: 12px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  opacity: 0; 
  transition: 
    opacity 0.3s ease-in-out, 
    transform 0.3s ease-in-out, 
    bottom 0.3s ease-in-out;
    
}

.productCard:hover .priceTag {
  opacity: 1; 
  bottom: 10px; 
  transform: translateY(0); 
}

.lowerDiv {
  margin-top: 20px;
  display: flex;

}
.roductSection{
  display: flex;
  gap: 10px;
  width: 100%;

}
.roductCard{
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  position: relative;
  border: 1px solid gray;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.riceTag {
  position: absolute;
  bottom: -20px;
  left: 10px; 
  transform: translateY(10px);
  background-color: white; 
  color: black;
  padding: 5px 10px; 
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  opacity: 0; 
  transition: 
    opacity 0.3s ease-in-out, 
    transform 0.3s ease-in-out, 
    bottom 0.3s ease-in-out;
}

.roductCard:hover .riceTag {
  opacity: 1; 
  bottom: 10px; 
  transform: translateY(0); 
} 

@media (max-width:1300px){
  .container{
    width: 100%;
    padding: 20px;
  }
}
@media (max-width: 900px) {
  .roductSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
  }

  .roductCard {
    width: 100%; 
  }
}

@media (max-width:700px){
   .productSection{
    display: none;
   }
   .roductSection {
       display: grid;
       grid-template-columns: 1fr; 
       gap: 10px; 
     }
   
     .roductCard {
       width: 100%; /* Ensure full width of the row */
     }
}